@import "tailwindcss";

html {
    background-color: #111;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: white;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0.6em;
}

button:hover {
    cursor: pointer;
}