---
import '../styles/global.css';
import games from '../data/games.json';
import GameList from '../components/GameList/GameList.astro';
import Nav from '../components/Nav/Nav.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Stealth Games</title>
	</head>
	<body>
	
		<Nav logo=""/>
		<h1>Stealth Games</h1>
		<GameList games={games} />
	</body>
</html>
