---
import '../styles/global.css';
import games from '../data/games.json';
import GameList from '../components/GameList/GameList.astro';
import Nav from '../components/Nav/Nav.astro';
import DataBox from '../components/DataBox/DataBox.astro';
import Footer from '../components/Footer/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Stealth Games</title>
	</head>
	<body>
	
		<Nav logo=""/>
		<main class="p-4">
		<div class="max-w-[900px] mx-auto w-full">
			<div class="max-w-[900px] mx-auto w-full flex items-center justify-between">
				<h1>Stealth Games</h1>
				<div class="flex gap-2">
					<button id="expand-collapse-all" class="p-2 rounded hover:bg-gray-800" title="Expand/Collapse all">
						<svg id="expand-collapse-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
							<path id="expand-path" stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
						</svg>
					</button>
					<a href="#game_data_json" title="Jump to Game Data" class="p-2 rounded hover:bg-gray-800">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
						  </svg>
						  
					</a>
				</div>
			</div>
			<GameList games={games} />
			<DataBox games={games} id="game_data_json"/>
		


		</main>
		<Footer/>
	</body>
	<script>
  document.addEventListener('DOMContentLoaded', () => {
    const btn = document.getElementById('expand-collapse-all');
    const path = document.getElementById('expand-path');
    let expanded = false;
    btn?.addEventListener('click', () => {
      expanded = !expanded;
      document.querySelectorAll('details').forEach(d => d.open = expanded);
	  if (expanded) {
		if (path) {
		  path.setAttribute('d', 'M4.5 18.75l7.5-7.5 7.5 7.5M4.5 12.75l7.5-7.5 7.5 7.5'); // collapse icon
		}
	  } else {
		if (path) {
		  path.setAttribute('d', 'm4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5'); // expand icon
		}
	  }
    });
  });
</script>
</html>
